"""
Config/settings file used by lolbot.
"""

# Discord bot token - your "App Bot Token" goes here
BOT_TOKEN = ""

# Timeout duration for initial websocket login
WS_TIMEOUT = 3

# What character prefix do you use for in-chat commands?
COMMAND_CHAR = "!"

# This will be populated with a custom requests.Session instance
# which handles Discord's HTTP auth and URL prefix for you
# Make requests to the root-relative API paths, e.g. "/channels/"
HTTP_SESSION = None

# Logging config
LOGGING_CONFIG = {
    'version': 1,
    'disable_existing_loggers': False,
    'formatters': { 
        'standard': { 
            'format': '%(asctime)s [%(levelname)s] %(name)s: %(message)s'
        },
    },
    'handlers': {
        'file': {
            'level': 'DEBUG',
            'class': 'logging.FileHandler',
            'filename': './logs/lolbot.log',
            'formatter': 'standard',
        },
        'console': {
            'level': 'DEBUG',
            'class': 'logging.StreamHandler',
            'formatter': 'standard',
        },
    },
    'loggers': {
        '': {
            'handlers': ['console', 'file'],
            'level': 'INFO',
            'propagate': True,
        },
    },
}

def reply_to(msg, reply):
    """Given a MESSAGE_CREATE event from discord, and a reply string,
    send the reply string to whichever channel/PM the original event
    came from.
    """
    channel_id = msg.get("d").get("channel_id")
    HTTP_SESSION.post(
        "/channels/{0}/messages".format(channel_id),
        json={"content": reply},
        )

#######################################################################
# The variables below are part of discord's API
# You will probably never need to change these
#######################################################################
# Base URL for the REST api
BASE_URL = "https://discordapp.com/api"

# What version of the gateway protocol do we speak?
GATEWAY_VERSION = "?v=5&encoding=json"
