"""
Config/settings file used by lolbot.
"""

# Discord bot token - your "App Bot Token" goes here
BOT_TOKEN = ""

# Timeout duration for initial websocket login
WS_TIMEOUT = 3

# What character prefix do you use for in-chat commands?
COMMAND_CHAR = "!"

# List of Discord user IDs you consider privileged/admin users
# These are strings, not ints!
ADMINS = []

# The bot's own discord ID - no need to set this yourself since it's in the BOT_TOKEN
from base64 import b64decode
SELF = b64decode(BOT_TOKEN.split('.')[0])

# Set this True if you want to reply to !commands issued by other bots
BOT_COMMANDS = False

# usersearch.py details
USERSEARCH_URL = ""
USERSEARCH_PUBLIC_URL = ""
USERSEARCH_PW = ""
USERSEARCH_ALIASES_FNAME = "plugins/usersearch_aliases.conf"
#USERSEARCH_TIMEOUT = 3     # HTTP request timeout for usersearch

# Logging config
LOGGING_CONFIG = {
    'version': 1,
    'disable_existing_loggers': False,
    'formatters': { 
        'standard': { 
            'format': '%(asctime)s [%(levelname)s] %(name)s: %(message)s'
        },
    },
    'handlers': {
        'file': {
            'level': 'DEBUG',
            'class': 'logging.FileHandler',
            'filename': './logs/lolbot.log',
            'formatter': 'standard',
        },
        'console': {
            'level': 'DEBUG',
            'class': 'logging.StreamHandler',
            'formatter': 'standard',
        },
    },
    'loggers': {
        '': {
            'handlers': ['console', 'file'],
            'level': 'INFO',
            'propagate': True,
        },
    },
}

#######################################################################
# The variables below are part of discord's API
# You will probably never need to change these
#######################################################################
# Base URL for the REST api
BASE_URL = "https://discordapp.com/api"

# What version of the gateway protocol do we speak?
GATEWAY_VERSION = "?v=5&encoding=json"
